<!DOCTYPE>
<!--especifíca o tipo de linguagem-->

<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--É um comando para haver um redimensionamento para dispositivos móveis-->
  <title>Happy</title>
  <!--É o nome da página-->
  <link rel="icon" href="/images/logo-icon.png" />

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/page-landing.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
</head>
</head>

<body>
  <!-- "<body style="color: red"> sobrescreve em relação as cores cascatas do CSS" -->
  <div id="page-landing">
    <div id="container">
      <header>
        <!--É o cabeçalho-->
        <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logomarca do Happy" />
        <!--é uma alternativa focada em acessibilidade, a qual converte uma imagem para um texto (o que está escrito entre aspas)-->
        <div class="location animate-up">
          <!--É um campo genérico-->
          <strong>Bragança Paulista</strong>
          <!-- Usa-se o strong para deixar em negrito-->
          <p>São Paulo</p>
          <!-- Usa-se o p para iniciar um novo parágrafo-->
        </div>
      </header>

      <main>
        <h1 class="animate-up">Leve felicidade para o mundo</h1>
        <section class="visit">
          <p class="animate-up">
            Visite orfanatos e mude o dia de muitas crianças
          </p>

          <a href="/orphanages" title="Visite orfanatos" class="animate-up">
            <!--O a é o Hyperlink-->
            <!--Usa-se o title para exibir uma mensagem ao se posicionar o mouse sobre um certo tempo em cima da imagem-->
            <img src="/images/arrow.svg" alt="Ir para o mapa" />
          </a>
        </section>
      </main>
    </div>
  </div>
</body>
<html />

<!-- ///////Siglas///////
     = Hypertext Markup Language 
    HTTPS = HyperText Transfer Protocol Secure 
    URL = Uniform Resource Locator 
    CSS = Cascading Style Sheets
-->